Warning: The lock file is not up to date with the latest changes in pyproject.toml. You may be getting outdated dependencies. Run update to update them.
asgiref==3.7.2; python_version >= "3.8"
django==4.2.3; python_version >= "3.8"
djangorestframework-simplejwt==5.2.2; python_version >= "3.7"
djangorestframework==3.14.0; python_version >= "3.6"
gunicorn==21.2.0; python_version >= "3.5"
packaging==23.1; python_version >= "3.7"
pyjwt==2.8.0; python_version >= "3.7"
pytz==2023.3; python_version >= "3.7"
sqlparse==0.4.4; python_version >= "3.8"
typing-extensions==4.7.1; python_version < "3.11" and python_version >= "3.8"
tzdata==2023.3; sys_platform == "win32" and python_version >= "3.8"
whitenoise==6.5.0; python_version >= "3.7"
